<% provide(:title, "Contact") %>

<div class="header header-filter" style="background: linear-gradient(to right, #4568dc, #b06ab3);"></div>
  <div class="main main-raised">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Contact</h2>
          <div class="avatar text-center">
            <%= image_tag("me_bw.png", class: 'img-circle img-raised', height: '240', width: '240', alt: "Jim Wolff") %>
          </div>
          <div class="info text-center">
            <h3 class="title">Hi, I'm Sarah.</h3>
            <a href="https://www.linkedin.com/in/jim-wolff-51b55063/" class="btn btn-just-icon"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/therealjimwolff" class="btn btn-just-icon"><i class="fa fa-github"></i></a>
            <a href="mailto:jim.wolff@gmail.com" target="_top" class="btn btn-just-icon"><i class="fa fa-envelope"></i></a>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis massa in efficitur efficitur. Praesent nec malesuada purus. Pellentesque cursus odio eu nisl malesuada, eu maximus dolor luctus. Curabitur scelerisque ultrices nisi. Aliquam a dui ac elit dignissim tempor. Donec fermentum, purus id tempor molestie, velit ipsum vehicula ante, ut euismod turpis velit tempus elit. Nunc et vehicula est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut magna et elit lobortis ultricies ac non magna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
