<div class="card">
  <div class="content">
    <li class="media">
      <div class="media-left">
        <%= gravatar_for(friend, size: 100, classes: 'media-object') %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to friend.name, user_path(friend) %></h4>

        <% if current_user.friends.include?(friend) %>
          <%= link_to "Remove friend", friendship_path(friend), method: :delete, class: "btn btn-danger btn-raised" %>
        <% else %>
          <%= render 'users/send_friend_request', user: friend %>
        <% end %>

      </div>
    </li>
  </div>
</div>
