<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><a href="https://www.commandsoft.com/csaat/csaat.php">Source</a></li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; 2019, Z-Dates <i class="fa fa-heart heart"></i> Live Connections
    </div>
  </div>
</nav>
